@using System.Globalization
@using sparreio.website.Utils
@using sparreio.website.ViewModels.Home
@model IndexViewModel
@{
    ViewBag.Title = "home";
}
@foreach (var p in Model.Posts)
{
    <section class="post">
        <header>
            <h1><a asp-action="Post" asp-controller="Home" asp-route-id="@p.Id" asp-route-slug="@Slugify.GenerateSlug(p.Title)">@p.Title</a></h1>
            <div>@p.PublishedUtc.ToLocalTime().ToString("D", new CultureInfo("en-us"))</div>
        </header>
        <section class="content">
            @Html.Raw(p.Exerpt)
        </section>
        <footer>
            @foreach (var tag in p.Tags)
            {
                <a asp-action="PostsByTag" asp-route-tag="@tag" title="@tag" class="tag">@tag</a>
            }
        </footer>
    </section>
}