@using System.Globalization
@using Microsoft.ApplicationInsights.AspNetCore.Extensions
@using Microsoft.AspNetCore.Hosting
@using sparreio.website.ViewModels.Home
@inject IHostingEnvironment _environment

@model PostViewModel
@{
    ViewBag.Title = Model.Title;

    var requestUri = Context.Request.GetUri();

    var disqusPageUrl = $"{requestUri.Scheme}://{requestUri.Host}:{requestUri.Port}/{Model.Id}/{Model.Slug}";
    var diqusPageId = _environment.EnvironmentName + "-" + Model.Id;
}
<section class="post">
    <header>
        <h1>@Model.Title</h1>
        <div>@Model.PublishedUtc.ToLocalTime().ToString("D", new CultureInfo("en-us"))</div>
    </header>
    <section class="content">
        @Html.Raw(Model.Content)
    </section>
    <footer>
        @foreach (var tag in Model.Tags)
        {
            <a asp-action="PostsByTag" asp-route-tag="@tag" title="@tag" class="tag">@tag</a>
        }
    </footer>
</section>
<div class="disqus-comments">
    <div id="disqus_thread"></div>
    <script>
        var disqus_config = function() {
            this.page.url = '@disqusPageUrl'; // Replace PAGE_URL with your page's canonical URL variable
            this.page.identifier = '@diqusPageId'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
        };
                (function() { // DON'T EDIT BELOW THIS LINE
                    var d = document, s = d.createElement('script');
                    s.src = 'https://sparre-io.disqus.com/embed.js';
                    s.setAttribute('data-timestamp', +new Date());
                    (d.head || d.body).appendChild(s);
                })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</div>